.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set position to fixed */
  bottom: 0; /* Stick to the bottom of the screen */
  width: 100%; /* Full width */
}

