.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  display: flex;
  font-weight: 500;
}
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 260px;
    font-weight: 900;
  }
  .text {
    font-size: 10px;
  }